<ion-header>
  <ion-navbar>
    <ion-searchbar [showCancelButton]="true" placeholder="请输入车牌查询"
                   [(ngModel)]="input" (ionInput)="onInput($event)" debounce="100">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>

  <ion-list  *ngFor="let car of searchCars" (click)="goToCarInfoDetail(car)">
    <div class="info">
      {{car.ownerName}}
      <span>{{car.carType}}</span>
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img *ngIf="car.carType=='班线客车'" src="assets/img/bus.png">
        <img *ngIf="car.carType=='旅游包车'" src="assets/img/travel.png">
        <img *ngIf="car.carType=='危货运输'" src="assets/img/dgt.png">
      </ion-avatar>
      <h2>{{car.licenseNo}}</h2>
      <p>{{car.transformLicenseNo}}</p>
    </ion-item>
  </ion-list>
</ion-content>
