<!--
  Generated template for the CreateFreightWaybillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>创建货运单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="waybillForm">
    <ion-list>
      <ion-item>
        <ion-label>所属公司</ion-label>
        <ion-input type="text" value="合肥中环货运" disabled></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>车牌号</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消"
          formControlName="vehicle">
          <ion-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle.vehicleNo}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>车辆颜色</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.vehicle.value.color" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车辆类型</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.vehicle.value.type" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车架号</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.vehicle.value.frameNo" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车辆尺寸</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.vehicle.value.size" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>核定载质量</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.vehicle.value.ratifiedPayload" disabled></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>危险品分类</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">危险货物2类1项</ion-option>
          <ion-option value="m">危险货物2类2项</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>危险品名称</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">甲烷</ion-option>
          <ion-option value="m">乙醇</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>应急处置方案</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>运输价格</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>运输距离</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>装载数量</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>装载/卸载</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">装载</ion-option>
          <ion-option value="m">卸载</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>是否满载</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">是</ion-option>
          <ion-option value="m">否</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>运输出厂时间</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm"
          placeholder="请选择" doneText="确认" cancelText="取消"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>运输回厂时间</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm"
          placeholder="请选择" doneText="确认" cancelText="取消"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>托运单位</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">林德电子特种气体(合肥)</ion-option>
          <ion-option value="m">陕西煤炭集团</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>始发地名称</ion-label>
        <city-picker item-content
                    [cancelText]="'取消'"
                    [doneText]="'完成'"
                    [separator]="' - '"
                    [citiesData]="cityData">

        </city-picker>
      </ion-item>

      <ion-item>
        <ion-label>目的地名称</ion-label>
        <city-picker item-content
                    [cancelText]="'取消'"
                    [doneText]="'完成'"
                    [separator]="' - '"
                    [citiesData]="cityData">

        </city-picker>
      </ion-item>

      <ion-item>
        <ion-label>途径</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消">
          <ion-option value="f">路径1</ion-option>
          <ion-option value="m">路径2</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>驾驶员姓名</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消"
          formControlName="driver">
          <ion-option [value]="driver" *ngFor="let driver of drivers">{{driver.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>从业资格证号</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.driver.value.certificateNo" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>驾驶员联系电话</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.driver.value.phone" disabled></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>押运员姓名</ion-label>
        <ion-select interface="popover" placeholder="请选择" okText="确认" cancelText="取消"
          formControlName="escort">
          <ion-option [value]="escort" *ngFor="let escort of escorts">{{escort.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>从业资格证号</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.escort.value.certificateNo" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>押运员联系电话</ion-label>
        <ion-input type="text" [value]="waybillForm.controls.escort.value.phone" disabled></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-footer>
    <button ion-button full color="primary" (click)="submit()">提交</button>
</ion-footer>