<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>合肥运政</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-slides>
    <ion-slide>
      <img src="assets/img/banner-4.jpg" />
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item-divider color="white" tappable>
      交通路况实时信息
      <span item-right>更多</span>
    </ion-item-divider>
    <button ion-item detail-none>
      路况信息1
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      路况信息2
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      路况信息3
      <span item-right>2017-01-02</span>
    </button>
  </ion-list>

  <ion-list>
    <ion-item-divider color="white" tappable>
      交通设施信息
      <span item-right>更多</span>
    </ion-item-divider>
    <button ion-item detail-none>
      设施信息1
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      设施信息2
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      设施信息3
      <span item-right>2017-01-02</span>
    </button>
  </ion-list>

  <ion-list>
    <ion-item-divider color="white" tappable>
      法律法规
      <span item-right (click)="lawList(laws)">更多</span>
    </ion-item-divider>
    <button ion-item detail-none *ngFor="let law of laws" (click)="lawDetail(law)" >
     {{law.title}}
      <span item-right>{{law.dateCreated|date:'yyyy-MM-dd'}}</span>
    </button>
  </ion-list>-->
  <!--<ion-slides>
    <ion-slide>
      <img src="assets/img/banner_1.jpg" />
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item-divider color="white" tappable>
      交通路况实时信息
      <span item-right>更多</span>
    </ion-item-divider>
    <button ion-item detail-none>
      路况信息1
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      路况信息2
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      路况信息3
      <span item-right>2017-01-02</span>
    </button>
  </ion-list>

  <ion-list>
    <ion-item-divider color="white" tappable>
      交通设施信息
      <span item-right>更多</span>
    </ion-item-divider>
    <button ion-item detail-none>
      设施信息1
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      设施信息2
      <span item-right>2017-01-02</span>
    </button>
    <button ion-item detail-none>
      设施信息3
      <span item-right>2017-01-02</span>
    </button>
  </ion-list>

  <ion-list>
    <ion-item-divider color="white" tappable>
      法律法规
      <span item-right (click)="lawList(laws)">更多</span>
    </ion-item-divider>
    <button ion-item detail-none *ngFor="let law of laws" (click)="lawDetail(law)" >
     {{law.title}}
      <span item-right>{{law.dateCreated|date:'yyyy-MM-dd'}}</span>
    </button>
  </ion-list>-->
<!--  <ion-grid>
    <ion-row>
      <div col-9 #dataRateChart style="width: 100%;height:180px;"></div>
      <div col-3 style="width: 100%;height:180px;">
        <button ion-button color="danger" style="width: 100%;height:180px;" clear>1</button>
      </div>
    </ion-row>
  </ion-grid>-->

  <ion-list>
    <ion-item-group>

      <ion-item-divider color="light">
        数据比率
      </ion-item-divider>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8 #dataRateChart style="height: 180px"></ion-col>
            <ion-col col-4 col-auto style="height: 180px" no-padding>
              <ion-grid>
                <ion-row *ngFor="let chart of mRateChartArrays" style="height:20px; margin-bottom: 10px;">
                  <button clear ion-button style="height:20px;" (click)="showDataRate(chart)">{{chart.name}}</button>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-divider color="light">
        两客一危情况
      </ion-item-divider>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8 #dangerChart style="height: 180px"></ion-col>
            <ion-col col-4 col-auto style="height: 180px" no-padding>
              <ion-grid>
                <ion-row *ngFor="let chart of mDangerChartArrays" style="height:20px; margin-bottom: 10px;">
                  <button id="{{chart.name}}" color="primary"
                           clear ion-button style="height:20px;" (click)="showDanger(chart)">{{chart.name}}</button>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-item-group>
  </ion-list>


</ion-content>
