page-home {
  
  ion-slides {
    height: auto;

    ion-slide {
      img {
        height: 150px !important;
      }
    }
  }

  .item-divider {
    border-bottom: 1px solid #dedede;
    color: #666666;
    font-size: $font-normal-size;

    ion-label {
      color: #666666 !important;
    }
  }

  ion-list {
    margin-bottom: 16px !important;

    .item {
      min-height: 2.4rem;

      .item-inner {
        border-bottom-style: none !important;

        ion-label {
          font-size: $font-normal-size;
          white-space: normal;
          color: #333333;
          margin: 5px 8px 5px 0 !important;
        }

        span {
          font-size: 12px;
        }
      }
    }
  }
}
