<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="contact"></ion-icon>
    </button>
    <ion-title>合肥运政</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="assets/img/banner-4.jpg" />
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item-divider color="white" tappable>
      <ion-icon name="alert"></ion-icon>
      消息中心有{{mTotal}} 条新消息
      <span item-right (click)="moreMessage()">更多</span>
    </ion-item-divider>
    <ion-item *ngFor="let mes of message" (click)="messageDetail(mes)">
      <h2 *ngIf="mes.sourceType=== 'GD'">
        <label style="font-size: 3px; color: red">{{mes.isRead? '':'new　'}}</label>
        工单
      </h2>
      <h2 *ngIf="mes.sourceType=== 'YHZGD'">
        <label style="font-size: 3px; color: red">{{mes.isRead? '':'new　'}}</label>
        隐患整改单
      </h2>
      <h2 *ngIf="mes.sourceType=== 'DZLD'">
        <label style="font-size: 3px; color: red">{{mes.isRead? '':'new　'}}</label>
        电子路单
      </h2>
      <p *ngIf="mes.action==='DSH'">时间：{{mes.dateCreated}}　　状态：待审核</p>
      <p *ngIf="mes.action==='DYR'">时间：{{mes.dateCreated}}　　状态：待确认</p>
      <p *ngIf="mes.action==='DFK'">时间：{{mes.dateCreated}}　　状态：待反馈</p>
      <p *ngIf="mes.action==='HG'">时间：{{mes.dateCreated}}　　状态：合格</p>
      <p *ngIf="mes.action==='BHG'">时间：{{mes.dateCreated}}　　状态：不合格</p>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item-group>

      <ion-item-divider color="white">
        <ion-icon name="stats"></ion-icon>
        数据比率
      </ion-item-divider>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8 #dataRateChart style="height: 180px"></ion-col>
            <ion-col col-4 col-auto style="height: 180px" no-padding>
              <ion-grid>
                <ion-row *ngFor="let chart of mRateChartArrays" style="height:20px; margin-bottom: 10px;">
                  <button clear ion-button style="height:20px;" (click)="showDataRate(chart)">{{chart.name}}</button>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-divider color="white">
        <ion-icon name="bus"></ion-icon>
        两客一危情况
      </ion-item-divider>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-8 #dangerChart style="height: 180px"></ion-col>
            <ion-col col-4 col-auto style="height: 180px" no-padding>
              <ion-grid>
                <ion-row *ngFor="let chart of mDangerChartArrays" style="height:20px; margin-bottom: 10px;">
                  <button id="{{chart.name}}" color="primary"
                          clear ion-button style="height:20px;" (click)="showDanger(chart)">{{chart.name}}</button>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-item-group>
  </ion-list>

  <ion-list>
    <ion-item-divider color="white" tappable>
      <ion-icon name="book"></ion-icon>
      法律法规
      <span item-right (click)="lawList()">更多</span>
    </ion-item-divider>
    <button ion-item lawItem detail-none *ngFor="let law of laws" (click)="lawDetail(law)" >
      {{law.title}}
      <span item-right>{{law.dateCreated|date:'yyyy-MM-dd'}}</span>
    </button>
    <ion-item-divider><button ion-button outline item-right (click)="showOthers()">其他</button></ion-item-divider>
  </ion-list>

</ion-content>
