<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>搜索车辆</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [showCancelButton]="true" placeholder="请输入查询条件"
    [(ngModel)]="input" (ionInput)="onInput($event)" debounce="100">
  </ion-searchbar>
  <ion-list>
    <!-- <button ion-item *ngFor="let vehicle of filterVehicles" (click)="selected(vehicle)">
      {{vehicle.vehicleNo}}
    </button> -->
    <ion-item *ngFor="let vehicle of filterVehicles">
        <ion-label>{{vehicle.licenseNo}}({{vehicle.carPlateColor}})</ion-label>
        <ion-checkbox [(ngModel)]="vehicle.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <button ion-button full color="primary" (click)="submit()">提交</button>
</ion-footer>
