<ion-header>
  <ion-navbar>
    <ion-buttons left>
        <button ion-button (click)="dismiss()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>历史轨迹</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="trackForm">
    <ion-searchbar [showCancelButton]="true" placeholder="请输入查询条件" formControlName="query">
    </ion-searchbar>
    <ion-list>
      <ion-item>
        <ion-label>开始时间</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="请选择" doneText="确认" cancelText="取消"
        formControlName="startDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>结束</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="请选择" doneText="确认" cancelText="取消"
        formControlName="endDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="submit()">搜索</button>
</ion-footer>